
* {
  padding: 0;
  margin: 0;
}



.App {
  display: grid;
  grid-template-columns: 30vw 70vw;
  grid-template-rows: 30vh 70vh;

  grid-template-areas: 
  "a b"
  "a c";
}

.left {
  grid-area: a;
  background-color: #112240;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;
}



.top {
  grid-area: b;
  background-color: green;

  display: grid;
  grid-template-columns: 1fr 1fr;

  align-items: center;
  justify-items: center;
}

.main {
  grid-area: c;
  background-color: white;

  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;

}


.profilePicture {
  width: 20vw;
  height: auto;
  border-radius: 50%;
  border: 4px solid white;
  margin: 5vh 0 0 0;
}

@media only screen and (max-width: 800px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: 50vh 50vh 50vh 50vh;

    grid-template-areas: 
    "a"
    "b"
    "c"
    "d"
    ;
  }

  .projectsDisplay {
    grid-template-columns: 1fr;
  }
}

.projectsDisplay {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 90%;
  height: 90%;
}

.projectButtons {
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-right: 2px solid #112240
}

.projectInfo {
  background-color: purple;
}

.videoTitleDesc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  grid-template-areas: 
  "a b"
  "a c"
  ;

  align-items: center;
  justify-items: center;
}

.projectTitle {
  grid-area: b;
}

.projectDesc {
  grid-area: c;
  align-self: flex-start;
}

.video {
  grid-area: a;
  height: 20vw;
  width: auto;
  border-radius: 5px;
}