
* {
  padding: 0;
  margin: 0;
}



.App {
  display: grid;
  grid-template-columns: 30vw 70vw;
  grid-template-rows: 30vh 70vh;

  grid-template-areas: 
  "a b"
  "a c";
}

.left {
  grid-area: a;
  background-color: red;
}

.top {
  grid-area: b;
  background-color: green;
}

.main {
  grid-area: c;
  background-color: blue;
}

@media only screen and (max-width: 800px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: 50vh 50vh 50vh 50vh;

    grid-template-areas: 
    "a"
    "b"
    "c"
    "d"
    ;
  }
}